<%= form_with scope: :user, url: login_path, html: {align: "center"} do |f|%>
                
    <p align='center'> <strong> <%=f.label :username%> </strong> </p>
    <%=f.text_field :username%> <br> <br>

    <p><strong> <%=f.label :password%> </strong> </p>
    <%=f.password_field :password%> <br><br>

    <p><strong> <%=f.label :password_confirmation%> </strong> </p>
    <%=f.password_field :password_confirmation%> <br><br>


    <%= f.submit "Sign Up"%>

<% end %>